.images-in-pictures img{
height: 350px;
width: 350px;
}
#pics-contianer{
  background-color: orange;
}
#travelbg{
background-color: pink;
}
#travelpics img{
  height: 350px;
  width: 350px;
}
#contactbg {
background-color: grey;
}
#activitiesbg {
  background-color: skyblue;
}
#activities-img img{
  height: 350px;
  width: 350px;
}
#homepagebg{
  background-color: lightyellow;
}
#accommodationsbg{
  background-color: purple;
}
#imgroom img{
  height: 350px;
  width: 350px;
}
